*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

html{
    font-size: 62.5%;
}

body{
    min-height: 100vh;
    background-color: lightblue;
    display: grid;
    place-items: center;  

}

.calculator{
    background-color: #15173c;
    color: white;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    width: 35rem;
    padding: 2rem;
    border-radius: 15px;
    gap: 0.8rem;
}

.display{
    grid-column: 1 / 5;
    background-color: white;
    color: black;
    padding: 2rem;
    font-size: 3rem;
    text-align: right;
    border-radius: 0.8rem;
    margin-bottom: 1.5rem;
    font-family: monospace;
    font-weight: 600;
    overflow: hidden;
}

.btns{
    background: color #090c31; ;
    color: black;
    border: none;
    padding: 2rem 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
    cursor: pointer;
}

.btns:hover{
background-color: lightgrey;
font-weight: bold;
}

#zero{
    grid-column: span 2;
}

#equal{
    grid-row: span 2;
    background-color: #e6394a;
}
#equal:hover{
    background-color: #e65766;
}

@media (max-width: 768px){

    html{
        font-size: 54%;
    }
}

@media (max-width: 600px){
    html{
        font-size: 38%;
    }

}

@media (max-width: 430px){
    html{
        font-size: 30%;
    }
}